# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env
.env.*

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Python test / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/